*{
    margin : 0;
    padding: 0;
}

.image{
    min-width: 100%;
    background-image: url('../images/blur-book-stack.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height : 560px;
    position: relative;
}

.headertext{
    padding: 10px;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 400;
    position: absolute;
    background-color: rgba(70, 34, 34, 0.5) ;
    border-radius: 20px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.header_tag{
    background-color: black;
    color: white;
    text-align: center;
}

ul{
    list-style-type: none;

}

li{
    text-decoration: none;
}

.container{
    width: 70%;
    margin: 20px auto;
    text-align: justify;
}
.innerblock{
    margin-top: 20px;
}

span{
    font-family: monospace;
}

.block h4 {
    background-color:#DDD;
    border-radius: 5px;
    box-shadow: 5px 5px grey;
    text-align: center;
    padding: 9px;
}


.toggle{
    padding: 35px;
    display: none;
}

.final{
margin-top: 100px;

}

.magic{
    display: block;
}

.footer{
    text-align: center;
    background-color: rgb(34, 32, 32);
    display: flex;
    gap:50px;
    color: white;
    padding: 25px;
}

.footer div{
    width: 25%;
}

.footer div h5{
    border-bottom: 20px;
}